<div class="example-container">
    <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu_open</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>
  
        <h1 class="example-app-name">CONTROL DE GASTOS</h1>
  
        <span class="example-spacer"></span>
  
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
  
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>account_box</mat-icon>
                <span>Mi Perfil</span>
            </button>
            <button mat-menu-item (click)="sidenav.opened = false" (click)="cerrarSesion()"> 
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesión</span>
            </button>
        </mat-menu>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
        <mat-sidenav #sidenav style="width: 200px" mode="push">
            <img src="assets/image.png" width="200" style="margin-left: 2px">

            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/incidente" style="cursor: pointer">
                <mat-icon>search</mat-icon>
                <span>Incidente</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/cliente" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Cliente</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/producto" style="cursor: pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Producto</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/vehiculo" style="cursor: pointer">
                <mat-icon>view_carousel</mat-icon>
                <span>Vehiculo</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/venta" style="cursor: pointer">
                <mat-icon>star_rate</mat-icon>
                <span>Venta</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/venta-autocomplete" style="cursor: pointer">
              <mat-icon>star_rate</mat-icon>
              <span>Venta-autocomplete</span>
          </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/pages/reporte" style="cursor: pointer">
                <mat-icon>assessment</mat-icon>
                <span>Reportes</span>
            </button>
            <mat-divider></mat-divider>

        </mat-sidenav>
  
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
  
  
    </mat-sidenav-container>
  
  </div>